name: publish
run-name: Build and publish book
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6

      - name: Download Java
        uses: actions/setup-java@v4
        id: download-java
        with:
          distribution: "temurin"
          java-version: 21

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.9.0"
          cache: "npm"
      - run: npm ci

      - name: Install Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: ^0.14.0

      - name: Cache sbt
        uses: actions/cache@v4
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name: Install Fonts
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ttf-bitstream-vera
          sudo apt install -y fonts-ebgaramond

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Generate book
        run: |
          mkdir -p dist
          sbt build

      - name: Publish site
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          keep_files: true
